@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ============================== */
:root {
  --accent-color: #ed553b;
  --secondary-color: #090543;
  --dark-text-color: #21203c;
  --light-text-color: #fff;
  --background-fill: #f4f4f4;
  --font: "Work Sans", sans-serif;
}

/* ============================== */
html {
  font-family: var(--font);
  font-size: 16px;
}

/* ============================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

/* ============================== */
body {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header-desktop"
    "header-mobile"
    "slider"
    "how-we-help"
    "about-us"
    "our-captain"
    "donate"
    "contact-us"
    "map"
    "top-footer"
    "bottom-footer";
}

/* ============================== */
/* UNIVERSAL TAGS */
h1 {
  font-size: 3.3rem;
  color: var(--light-text-color);
}
h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
h3 {
  font-size: 1.7rem;
  font-weight: 650;
  line-height: 1.4;
}
h6 {
  font-size: 1.1rem;
  font-weight: 600;
}
p {
  line-height: 1.6;
  font-weight: 500;
}
img {
  width: 100%;
  height: auto;
}
i {
  font-size: 2.5rem;
  color: var(--accent-color);
}
a {
  color: inherit;
}

/* ============================== */
/* HEADER */
#header-desktop {
  height: 80px;
  width: 100%;
  background-color: var(--secondary-color);
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 9;
}
#header-desktop .container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-name: slide-in;
  animation-duration: 1s;
  position: relative;
}
#header-desktop .container .logo {
  height: 55px;
  width: auto;
  position: relative;
}
#header-desktop .container .logo img {
  height: 100%;
  width: auto;
  cursor: pointer;
}
#header-desktop .container nav ul {
  display: flex;
}
#header-desktop .container nav li {
  margin-right: 2.5rem;
  transition: all 0.2s ease;
}
#header-desktop .container nav li:active {
  border-bottom: 2px solid var(--accent-color);
}
#header-desktop .container nav li:hover {
  transform: scale(1.09);
}
#header-desktop .container nav a {
  color: var(--light-text-color);
  transition: all 0.2s ease;
}
#header-desktop .container nav a:hover {
  color: var(--background-fill);
  border-bottom: 2px solid var(--light-text-color);
}
#header-desktop .container nav a:active {
  border-bottom: 2px solid var(--light-text-color);
}

/* ============================== */
/* MOBILE HEADER */
#mobile-header {
  display: none;
  z-index: 10;
  position: sticky;
  width: 100%;
  height: 80px;
  background-color: var(--secondary-color);
  /* -webkit-backface-visibility: hidden; */
}
#mobile-header #open,
#close {
  color: var(--light-text-color);
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 2rem;
}
#mobile-header .logo {
  cursor: pointer;
  height: 50px;
  width: auto;
  position: relative;
  top: 1rem;
  left: 2rem;
}
#mobile-header .logo img {
  height: 100%;
  width: auto;
}
#mobile-header .nav_links {
  position: fixed;
  background-color: var(--secondary-color);
  right: -100%;
  top: 80px;
  width: 70%;
  height: 100%;
  padding: 3rem;
  transition: 0.4s;
  box-shadow: -10px 50px 115px 10px rgba(0, 0, 0, 0.7);
  border-top-left-radius: 1rem;
}
#mobile-header .show {
  right: 0;
}
#mobile-header .nav_links ul {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
#mobile-header .nav_links ul a {
  color: var(--light-text-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
}

/* ============================== */
/* SLIDER */
.slider {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
}
.slider::before {
  background-color: var(--secondary-color);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 28%;
}
.slider .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider .content-left {
  width: 50%;
  height: 100%;
  position: relative;
  top: 27%;
  margin-left: 8%;
  animation: counter-slide-left 1s forwards;
}
.slider .content-left h1 {
  text-transform: capitalize;
  word-spacing: 0.5rem;
  /* animation: slide-in-left 1s;
  animation-fill-mode: forwards; */
  position: relative;
  line-height: 1.3;
}

.slider .content-left p {
  color: var(--light-text-color);
  margin-top: 1rem;
  width: 80%;
  opacity: 0.8;
}
.slider .content-left .link {
  margin-top: 6rem;
}
.slider .content-left .link:first-child:hover {
  color: var(--accent-color) !important;
  border: 1px solid var(--accent-color) !important;
}
.slider .content-left a {
  color: var(--light-text-color);
}
.slider .content-left a:last-child {
  color: var(--secondary-color);
  margin-left: 1rem;
  transition: all 0.2s ease;
}
.slider .content-left a:last-child:hover {
  color: var(--accent-color);
  transform: scale(1.1);
}

.slider .content-right {
  max-width: 40%;
  height: 70%;
  position: relative;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  overflow: hidden;
  top: 5%;
  animation: counter-slide-right 1s forwards;
}
.slider .content-right::before {
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  z-index: 1;
  opacity: 0.2;
  border-radius: 0.6rem;
}
.slider .content-right .background {
  width: auto;
  height: 100%;
  border-radius: 0.6rem;
  transition: all 0.5s ease;
  right: 3rem;
}
.slider .content-right .background:hover {
  transform: scale(1.1);
}
.slider .foreground {
  max-width: 15%;
  height: auto;
  position: absolute;
  top: 8%;
  right: 18%;
  z-index: 1;
}

/* ============================== */
/* HOW WE HELP */
.how-we-help {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 50px 0px;
}
.how-we-help .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6rem;
  position: relative;
  transition: all 1s ease;
  transform: scale(0.4);
  opacity: 0;
}
.how-we-help .how-we-help-wipe-in {
  transform: scale(1);
  opacity: 1;
}
.how-we-help .container .content-left {
  max-width: 35%;
  height: 65%;
  overflow: hidden;
  border-radius: 0.6rem;
  box-shadow: 1rem 1rem 2rem 0.2rem rgba(0, 0, 0, 0.5);
}
.how-we-help .container .content-left img {
  width: auto;
  height: 100%;
  transition: all 0.4s ease;
  right: 3rem;
}
.how-we-help .container .content-left img:hover {
  transform: scale(1.1);
}
.how-we-help .fill {
  background-color: var(--secondary-color);
  height: 50%;
  width: 20%;
  position: absolute;
  left: 0;
  margin-top: 3rem;
  z-index: -1;
  opacity: 0.1;
}
.how-we-help .container .content-right {
  max-width: 35%;
  max-height: 70%;
  overflow: hidden;
  display: grid;
  place-content: center;
}
.how-we-help .content-right h2 {
  margin-bottom: 3rem;
  color: var(--dark-text-color);
}
.how-we-help .content-right h6 {
  color: var(--dark-text-color);
  margin-bottom: 0.5rem;
}
.how-we-help .content-right p {
  opacity: 0.5;
}
.how-we-help .content-right .flex {
  display: flex;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

/* ============================== */
/* ABOUT US */
.about-us {
  width: 100%;
  height: 700px;
  display: grid;
  place-items: center;
}
.about-us .container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us .content-left {
  max-width: 60%;
  height: 450px;
  background-color: var(--background-fill);
  transform: scale(0.4);
  opacity: 0;
  transition: all 1s ease;
}
.about-us .active {
  transform: scale(1);
  opacity: 1;
}
.about-us .content-left > * {
  left: 20%;
  position: relative;
}
.about-us .content-left h2 {
  color: var(--dark-text-color);
  margin-bottom: 1.5rem;
  margin-top: 4rem;
}
.about-us .content-left p {
  opacity: 0.6;
  margin-bottom: 3rem;
  width: 60%;
}
.about-us .content-left #volunteer {
  margin-left: 2rem;
  transition: all 0.2s ease;
  color: var(--secondary-color);
}
.about-us .content-left #volunteer:hover {
  color: var(--accent-color);
  transform: scale(1.07);
}

.about-us .content-right {
  max-width: 40%;
  height: 500px;
  overflow: hidden;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  box-shadow: 1rem 0.5rem 2rem 0.2rem rgba(0, 0, 0, 0.3);
  margin-right: 20%;
  opacity: 0;
  position: relative;
  transition: all 1s ease;
  transition-delay: 0.5s;
}
.about-us .right-active {
  margin-right: 0;
  opacity: 1;
}
.about-us .content-right img {
  width: auto;
  height: 100%;
  transition: all 0.4s ease;
}
.about-us .content-right img:hover {
  transform: scale(1.1);
}

/* ============================== */
/* OUR CAPTAIN */
.our-captain {
  width: 100%;
  height: 700px;
  display: grid;
  place-items: center;
  padding: 50px 0px;
}
.our-captain .container {
  width: 100%;
  height: 90%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  position: relative;
}
.our-captain .content-left {
  max-height: 80%;
  max-width: 30%;
  overflow: hidden;
  border-radius: 0.6rem;
  box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  opacity: 0;
  margin-left: -20%;
  transition: all 1s ease;
}
.our-captain .left-transition {
  margin-left: 0;
  opacity: 1;
}
.our-captain .content-left img {
  height: 100%;
  width: auto;
  position: relative;
  right: 3rem;
  transition: transform 0.4s ease;
  bottom: 4rem;
}
.our-captain .content-left img:hover {
  transform: scale(1.07);
}
.our-captain .container .fill {
  background-color: var(--secondary-color);
  height: 60%;
  width: 20%;
  position: absolute;
  left: 0;
  margin-top: 1rem;
  z-index: -1;
  opacity: 0.1;
}

/* Content Right */
.our-captain .content-right {
  max-width: 30%;
  height: auto;
  position: relative;
  margin-right: -30%;
  opacity: 0;
}
.our-captain .right-transition {
  margin-right: 0%;
  opacity: 1;
}
.our-captain .content-right h2 {
  margin-bottom: 3rem;
  color: var(--dark-text-color);
}
.our-captain .content-right p {
  opacity: 0.6;
}
.our-captain .content-right h6 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

/* ============================== */
/* DONATE */
.donate {
  background-color: var(--secondary-color);
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.donate .container {
  height: 70%;
  max-width: 70%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.donate .container h2 {
  margin-bottom: 2.5rem;
  width: 100%;
  color: var(--light-text-color);
}
.donate .container p {
  margin-bottom: 3.5rem;
  font-size: 1.1rem;
  opacity: 0.7;
  font-weight: 400;
  color: var(--background-fill);
}
.donate .container a {
  width: initial;
}
.donate .container a:hover {
  color: var(--light-text-color) !important;
}
.donate .container .btn-2 {
  width: 50%;
}
.donate .container .btn-2:hover {
  border: 2px solid var(--light-text-color);
  color: var(--light-text-color);
}

/* ============================== */
/* CONTACT US */
.contact-us {
  width: 100%;
  height: 900px;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.contact-us .container {
  max-width: 80%;
  height: 80%;
  display: flex;
  column-gap: 4rem;
  position: relative;
  margin-top: 40%;
  opacity: 0;
  transition: all 1s ease;
  align-items: center;
  justify-content: center;
}
.contact-us .transition {
  margin-top: 0%;
  opacity: 1;
}
/* Content Left */
.contact-us .content-left {
  width: 35%;
  height: 90%;
  overflow: hidden;
  display: inline-block;
  position: relative;
  left: 5%;
}
.contact-us .content-left h2 {
  margin-bottom: 2rem;
  color: var(--dark-text-color);
}
.contact-us .content-left p {
  margin-bottom: 3rem;
  opacity: 0.5;
}
.contact-us .content-left .contact-info {
  display: flex;
  column-gap: 2rem;
  margin-left: 0.5rem;
}
.contact-us .content-left .contact-info p {
  margin-bottom: 3rem;
  opacity: 0.5;
}

/* Content Right */
.contact-us .content-right {
  width: 45%;
  height: 90%;
  background-color: var(--background-fill);
  padding: 4rem 4rem;
  border-radius: 0.5rem;
  margin-left: 4rem;
  display: grid;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
.contact-us .content-right:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
}
.contact-us .content-right form {
  display: grid;
  place-items: center;
}
.contact-us .content-right input {
  width: 85%;
  height: 3rem;
  margin-bottom: 2rem;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  transition: transform 0.2s ease;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
}
.contact-us .content-right input:hover {
  transform: scale(1.05);
}
.contact-us .content-right textarea {
  width: 90%;
  height: 12rem;
  border: none;
  font-family: var(--font);
  padding: 1rem 2rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  transition: transform 0.2s ease;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
}
.contact-us .content-right textarea:hover {
  transform: scale(1.05);
}
.contact-us .content-right input[type="submit"] {
  width: 40%;
  cursor: pointer;
  background-color: var(--accent-color);
  font-weight: 500;
}
.contact-us .content-right input[type="submit"]:hover {
  border: 1px solid var(--accent-color);
  color: var(--accent-color) !important;
  background-color: transparent;
}

/* ================= MAP SECTION ============== */
.map {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.map .google-map {
  width: 100%;
  height: 100%;
}

/* ============================== */
/* TOP FOOTER */
#top-footer {
  background-color: #141122;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#top-footer .container {
  max-width: 80%;
  height: 65%;
  display: flex;
  align-items: center;
  column-gap: 4rem;
}
/* CONTAINER 1 */
#top-footer .container-1 {
  width: 38%;
  height: 100%;
}
#top-footer h3 {
  color: var(--light-text-color);
  margin-bottom: 2rem;
}
#top-footer p {
  color: var(--light-text-color);
  opacity: 0.6;
  margin-bottom: 2rem;
  padding-right: 10%;
}
#top-footer i {
  margin-right: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--accent-color);
  opacity: 0.8;
}
#top-footer i:hover {
  color: var(--light-text-color);
  transform: scale(1.2);
  opacity: 0.7;
}
/* CONTAINER 2 & 3*/
#top-footer .mobile-link {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
#top-footer .mobile-link .container-2,
.container-3 {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
#top-footer .mobile-link .container-2,
.container-3 a {
  color: var(--light-text-color);
  opacity: 0.7;
  transition: all 0.2s ease;
}
#top-footer .mobile-link .container-2 a:hover {
  transform: scale(1.1);
  color: var(--accent-color);
}
#top-footer .mobile-link .container-3 a:hover {
  transform: scale(1.1);
  color: var(--accent-color);
}

/* ============================== */
/* BOTTOM FOOTER */
#bottom-footer {
  background-color: #090543;
  width: 100%;
  height: 70px;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}
#bottom-footer i {
  font-size: 1.3rem;
  color: var(--accent-color);
}
#bottom-footer p {
  color: var(--light-text-color);
}

/* ============================== */
/* UTILITIES */
.btn-1 {
  background-color: var(--accent-color);
  padding: 0.7rem 1.5rem;
  border-radius: 0.2rem;
  transition: all 0.2s ease;
  color: var(--light-text-color);
  font-weight: 500;
}

/* TRANSPARENT BUTTON */
.btn-1:hover {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  transform: scale(1.07);
  color: var(--accent-color) !important;
}

/* BUTTON 1.5 */
.btn-1-5 {
  background-color: var(--accent-color);
  padding: 0.7rem 1.5rem;
  border-radius: 0.2rem;
  transition: all 0.2s ease;
  color: var(--light-text-color) !important;
  font-weight: 500;
}

.btn-1-5:hover {
  background-color: transparent;
  border: 2px solid var(--light-text-color);
  transform: scale(1.07);
  color: var(--light-text-color) !important;
}

/* BUTTON 2 */
.btn-2 {
  background-color: var(--accent-color);
  padding: 0.7rem 1.5rem;
  border-radius: 0.2rem;
  transition: all 0.2s ease;
  color: var(--light-text-color);
  font-weight: 500;
  box-shadow: 0rem 0.5rem 2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.btn-2:hover {
  background-color: #ffffff00;
  border: 2px solid var(--secondary-color);
  transform: scale(1.07);
  color: var(--secondary-color) !important;
  box-shadow: 0rem 0.5rem 2rem 0.2rem rgba(0, 0, 0, 0);
}

/* ============================== */
/* Animation */
@keyframes slide-in {
  from {
    margin-left: 100%;
    width: 300%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    width: 85%;
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    margin-left: -20%;
    width: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    width: 85%;
    opacity: 1;
  }
}

@keyframes slide-in-top {
  from {
    margin-top: -20%;
    opacity: 0;
  }
  to {
    margin-top: initial;
    opacity: 1;
  }
}

/* ==== Slide in reversed */
@keyframes counter-slide-left {
  from {
    margin-left: 20%;
    opacity: 1;
  }
  to {
    margin: 8%;
    opacity: initial;
  }
}
@keyframes counter-slide-right {
  from {
    margin-right: 20%;
    opacity: 0;
  }
  to {
    margin-right: 0;
    opacity: initial;
  }
}

/* WIPE ENTER */
@keyframes wipe-enter {
  0% {
    transform: scale(0, 0.025);
  }
  50% {
    transform: scale(1, 0.025);
  }
}

/* ============================== */
/* MEDIA QUERY */
@media screen and (max-width: 2000px) {
  .slider .foreground {
    top: 12%;
    right: 28%;
  }

  .about-us .content-left h2 {
    margin-top: 2rem;
  }

  .our-captain .content-left img {
    right: 40%;
  }
}

@media (max-width: 1200px) {
  /* slider */
  .slider .foreground {
    top: 15%;
    right: 34%;
  }
  .slider .content-left {
    margin-left: 2rem;
  }
  .slider .content-left h1 {
    font-size: 2.5rem;
  }
  .slider .content-right {
    max-width: 45%;
  }
  .slider .content-right img {
    right: 40%;
  }

  /* HOW CAN WE HELP YOU */
  .how-we-help .container {
    column-gap: 4rem;
  }
  .how-we-help .container .content-left {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    max-width: 45%;
  }
  .how-we-help .container .content-right {
    max-width: 40%;
  }
  .how-we-help .container .content-right h2 {
    font-size: 2rem;
  }
  .how-we-help .container .content-right p {
    width: 100%;
  }

  /* ABOUT US */
  .about-us .content-left {
    height: 60%;
    max-width: 60%;
  }
  .about-us .content-left h2 {
    font-size: 2rem;
  }
  .about-us .content-left p {
    margin-bottom: 3rem;
    font-size: .9rem;
  }
  .about-us .content-right {
    max-width: 50%;
  }
  /* meet our captain */
  .our-captain .content-left {
    max-width: 40%;
  }
  .our-captain .content-right {
    max-width: 40%;
  }
  .our-captain .content-left img {
    right: 30%;
    height: 100%;
    width: auto;
  }
  .our-captain .content-right h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .our-captain .content-right p {
    margin-bottom: 2rem;
  }
  /* contact us */
  .contact-us .container {
    width: 90%;
  }
  .contact-us .content-left {
    width: 40%;
  }
  .contact-us .content-right {
    width: 60%;
  }
}

/* ============================= */
/* WIDTH 1024PX )*/
@media (max-width: 1024px) {
  .slider .foreground {
    top: 15%;
  }

  .slider .content-right img {
    right: 20%;
    position: relative;
  }
  .slider .content-left h1 {
    font-size: 2.5rem;
  }
  .slider .content-left p {
    font-size: 1rem;
  }

  .how-we-help .container .content-left img {
    right: 6rem;
    position: relative;
  }
  .how-we-help .container .content-right {
    max-width: 40%;
  }
  .how-we-help .content-right h2 {
    font-size: 1.8rem;
  }

  .about-us .content-left > * {
    left: 10%;
  }
  .about-us .content-left p {
    font-size: 1rem;
    width: 75%;
    margin-bottom: 2rem;
  }
  .about-us .content-left h2 {
    font-size: 1.9rem;
    margin-top: 2rem;
  }

  .our-captain .content-left {
    max-width: 40%;
    max-height: 75%;
  }
  .our-captain .content-left img {
    position: relative;
    right: 50%;
  }
  .our-captain .content-right {
    max-width: 40%;
  }
  .our-captain .content-right h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .our-captain .content-right p {
    margin-bottom: 2rem;
  }

  .contact-us .content-left {
    left: 0%;
  }
  .contact-us .content-right {
    width: 70%;
  }
  .contact-us .content-right input {
    width: 100%;
  }
  .contact-us .content-right textarea {
    width: 100%;
  }
  .contact-us .content-right input[type="submit"] {
    width: 50%;
  }
}

/* ============================= */
/* WIDTH 900PX  (IPAD)*/
@media screen and (max-width: 900px) {
  /* HEADER */
  #header-desktop {
    display: none;
  }
  #mobile-header {
    display: block;
  }
  #mobile-header .nav_links {
    padding-top: 5rem;
    font-size: 1.5rem;
    text-align: center;
  }

  /* SLIDER */
  .slider {
    height: 1100px;
  }
}

/* ============================= */
/* WIDTH 768px */
@media (max-width: 768px) {
  /* Header */
  #header-desktop {
    display: none;
  }
  #mobile-header {
    display: block;
  }

  /* slider */
  .slider {
    margin-top: 70px;
    height: 1200px;
    overflow: hidden;
  }
  .slider::before {
    bottom: 0;
  }
  .slider .container {
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .slider .content-left {
    top: 5%;
    width: 90%;
  }
  .slider .content-left h1 {
    line-height: 1.4;
  }
  .slider .content-left p {
    width: 90%;
    font-size: 1rem;
  }
  .slider .content-left .link {
    margin-top: 6rem;
    font-size: 1.1rem;
  }
  .slider .content-left .link:first-child:hover {
    color: var(--light-text-color) !important;
    border: 1px solid var(--light-text-color) !important;
  }
  .slider .content-left .link .btn-1 {
    background-color: var(--light-text-color);
    color: var(--secondary-color);
    font-weight: 600;
  }
  .slider .content-left .link .btn-1:hover {
    background-color: transparent;
    border: 1px solid var(--light-text-color);
    color: var(--light-text-color) !important;
  }
  .slider .content-left a:last-child {
    color: var(--secondary-color);
    font-weight: 600;
    background-color: var(--light-text-color);
    padding: 0.7rem 1rem;
    border-radius: 0.2rem;
  }
  .slider .content-left a:last-child:hover {
    color: var(--light-text-color);
    background-color: transparent;
    border: 1px solid var(--light-text-color);
  }

  /* RIGHT */
  .slider .content-right {
    position: relative;
    top: -8%;
    border-radius: 0.6rem;
    height: 80%;
    max-width: 100%;
    overflow: hidden;
    left: 2rem;
  }
  .slider .content-right .background {
    right: 4rem;
    height: 100%;
    width: auto;
  }

  /* WIE WIR IHNEN HELFEN KÖNNEN */
  .how-we-help {
    height: 1000px;
    width: 100%;
    overflow: hidden;
  }
  .how-we-help .container {
    overflow: hidden;
    flex-direction: column;
    row-gap: 4rem;
    width: 100%;
  }
  .how-we-help .container .content-left {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    height: 40%;
    margin-top: 4rem;
  }
  .how-we-help .container .content-left img {
    right: 0;
    position: relative;
  }
  .how-we-help .fill {
    height: 40%;
    width: 40%;
    margin-top: -2rem;
    border-bottom-right-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
  }
  /* CONTENT RIGHT */
  .how-we-help .container .content-right {
    max-width: 70%;
    height: 70%;
    display: block;
  }
  .how-we-help .content-right h2 {
    margin-bottom: 4rem;
  }
  .how-we-help .content-right .flex {
    width: 100%;
  }
  .how-we-help .content-right p {
    max-width: 80%;
  }

  /* ABOUT US */
  .about-us {
    overflow: hidden;
    height: 900px;
  }
  .about-us .container {
    overflow: hidden;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .about-us .content-left {
    height: 60%;
    max-width: 80%;
    background-color: transparent;
  }
  .about-us .content-left > * {
    position: relative;
    left: 4%;
  }
  .about-us .content-left p {
    width: 85%;
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-size: .9rem;
  }
  .about-us .content-left a {
    font-size: 1rem;
  }
  .about-us .content-right {
    margin-top: 3rem;
    max-width: 100%;
    height: 50%;
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
    margin-bottom: 3rem;
    max-height: 300px;
  }
  .about-us .content-right img {
    position: relative;
    height: 100%;
    width: auto;
  }

  /* meet our captain */
  .our-captain {
    height: 1000px;
    overflow: hidden;
  }
  .our-captain .container {
    flex-direction: column;
    row-gap: 4rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  .our-captain .content-left {
    max-width: 70%;
    height: 50%;
  }
  .our-captain .content-left img {
    right: 0rem;
    height: 100%;
    width: auto;
    bottom: 0;
  }
  .our-captain .container .fill {
    height: 40%;
    width: 50%;
    top: 5%;
    border-radius: .6rem;
  }
  .our-captain .content-right {
    max-width: 60%;
  }
  .our-captain .content-right h2 {
    margin-bottom: 1rem;
  }
  .our-captain .content-right h6 {
    margin-top: 2rem;
  }
  .our-captain .content-right p {
    width: 95%;
  }

  /* DONATION */
  .donate .container h2 {
    font-size: 2rem;
  }
  .donate .container p {
    font-size: 1rem;
  }
  .donate .container a {
    font-size: 1rem;
  }

  /* contact us */
  .contact-us {
    height: 1500px;
  }
  .contact-us .container {
    width: 90%;
    flex-direction: column;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;
  }
  .contact-us .content-left {
    width: 80%;
    left: 0;
  }
  .contact-us .content-right {
    width: 90%;
    height: 50%;
    display: block;
    padding: 2rem;
    margin-left: 0;
  }

  /* Footer */
  #top-footer {
    height: 700px;
  }
  #top-footer .container {
    flex-direction: column;
    row-gap: 2rem;
    height: 80%;
    overflow: hidden;
  }
  #top-footer h3 {
    margin-bottom: 1rem;
  }
  #top-footer p {
    padding-right: 0%;
  }
  #top-footer .container-1 {
    width: 90%;
  }
  #top-footer .mobile-link {
    display: flex;
    column-gap: 7rem;
    width: 85%;
    height: auto;
  }
  #top-footer .mobile-link .container-2,
  .container-3 {
    width: 90%;
  }
}


/* MEDIA QUERY FOR SCREEN WIDTH 500PX */
@media (max-width: 500px) {
  .slider {
    height: 1000px;
  }
  .slider .content-left .link {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 3rem;
    align-items: flex-start;
  }
  .slider .content-left h1 {
    font-size: 3rem;
  }
  .slider .content-left a:last-child {
    margin-left: 0;
  }
  .slider .content-right {
    height: 350px;
    max-width: 100%;
  }
  .slider .content-right img {
    position: relative;
    right: 0rem;
    width: 100%;
    height: auto;
  }
  /* DONATE */
  .donate .container {
    width: 95%;
    height: 90%;
    overflow: hidden;
  }
  .donate .container h2 {
    margin-bottom: 1.5rem;
    font-size: 2em;
  }
  .donate .container p {
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }
  .donate .container .btn-2 {
    width: 60%;
  }
  /* ===== HOW WE CAN HELP ====== */
  .how-we-help .container .content-left {
    height: 300px;
    max-width: 100%;
    z-index: 1;
  }
  .how-we-help .container .content-left img {
    position: relative;
    height: 100%;
    width: auto;
  }
  .how-we-help .container .content-right {
    max-width: 80%;
    z-index: 2;
  }
  .how-we-help .container .content-right h2 {
    font-size: 1.9rem;
  }
  .how-we-help .container .content-right p {
    font-size: 1rem;
    max-width: 100%;
  }
  .how-we-help .fill {
    z-index: 0;
    display: none;
  }
  /* ==== ABOUT US ====== */
  .about-us {
    height: 950px;
    overflow: visible;
  }
  .about-us .content-right {
    width: 100%;
    height: 300px;
  }
  .about-us .content-right img {
    height: 100%;
    width: auto;
  }
  .about-us .content-left {
    max-width: 90%;
    overflow: visible;
  }
  .about-us .content-left a {
    font-size: 1rem;
  }
  .about-us .content-left p {
    font-size: 0.9;
  }
  .about-us .container {
    width: 90%;
  }
  .about-us .content-left #volunteer {
    display: none;
  }

  /* MEET OUR CAPTAIN  */
  .our-captain .fill {
    display: none;
  }
  .our-captain .container {
    width: 90%;
  }
  .our-captain .content-left {
    max-width: 95%;
    height: 40%;
    z-index: 2;
  }
  .our-captain .content-left img {
    height: 100%;
    width: auto;
  }
  .our-captain .content-right {
    z-index: 2;
    max-width: 80%;
  }

  /* DONATE */
  .donate .container {
    max-width: 100%;
  }
  .donate .container p {
    font-size: 0.9rem;
  }
  .donate .container .btn-2 {
    width: 200px;
  }

  /* ==== CONTACT US === */
  .contact-us .container {
    width: 90%;
  }
  .contact-us .content-left {
    width: 100%;
  }
  .contact-us .content-right {
    width: 100%;
  }
  .contact-us .content-right input {
    width: 100%;
  }
  .contact-us .content-right textarea {
    width: 100%;
  }
  .contact-us .content-right input[type="submit"] {
    width: 80%;
  }
  /* === FOOTER ===== */
  #top-footer .container {
    width: 95%;
  }
}

/* 320PX SCREEN WIDTH */
@media (max-width: 320px) {
  .slider .content-left h1 {
    font-size: 2.3rem;
  }
  .slider .content-left p {
    font-size: 1rem;
  }
  .slider .content-right {
    left: .5rem;
  }
  .how-we-help .container .content-left {
    width: 95%;
  }
  .how-we-help .container .content-left img {
    right: 10%;
  }
  .how-we-help .content-right {
    width: 100%;
    display: block;
  }
  .how-we-help .content-right h2 {
    margin-bottom: 2rem;
  }
  .how-we-help .container .content-right i {
    display: none;
  }
  .how-we-help .container .content-right h2 {
    font-size: 2.5rem;
  }
  .how-we-help .content-right .flex {
    column-gap: 1rem;
  }
  .about-us {
    height: 1000px;
  }
  .about-us .content-right {
    height: 260px;
    width: 100%;
  }
  .about-us .content-left {
    max-width: 100%;
  }
  .about-us .content-left h2 {
    font-size: 2rem;
  }
  .about-us .content-left p {
    font-size: 0.9rem;
  }
  .our-captain .content-right h2 {
    font-size: 2.4rem;
  }
  .our-captain .content-right p {
    font-size: 0.9rem;
  }
  .contact-us .content-right textarea {
    width: 100%;
  }
  .contact-us .content-right input {
    width: 100%;
  }
  .contact-us .content-right input[type="submit"] {
    width: 80%;
  }
  .donate .container p {
    font-size: 0.9rem;
  }
  .donate .container .btn-2 {
    width: 70%;
  }
  #top-footer .container {
    max-width: 90%;
  }
  #top-footer .container i {
    font-size: 2rem;
  }
  #top-footer .mobile-link {
    column-gap: 3rem;
  }
  #top-footer .mobile-link h2 {
    font-size: 1.5rem;
  }
  #bottom-footer {
    column-gap: .5rem;
  }
  #bottom-footer i {
    font-size: 1rem;
  }
}